.c-footer
  padding: 10px 0

  font-size: 14px
  color: #bcbcbc

  border-top: 1px solid #e8e8e8

  .c-f-links
    a
      display: block
      padding: 7px 0
      text-align: center

  .c-f-copyright
    padding: 15px 0
    text-align: center

  @media $tablet
    padding: 30px 0

    .c-f-links
      float: right

      a
        display: inline
        padding: 0
        margin-left: 10px

    .c-f-copyright
      padding: 0
      text-align: left
