# Generated static stuf
/public/assets/*
/public/static/*

# Data
/cdn/*

# Dependency directory
/node_modules

# Users Environment Variables
/.idea/*

# MacOS bullshit
.DS_Store

# Local config
config/development.*
config/client/development.*

# Local folders
/sandbox
