<!doctype html>
<html lang="en-US">
  <head>
    <title>Dellee Admin</title>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

    <meta name="title" content="Dellee Admin">
    <meta name="description" content="Brilliant admin panel">
    <meta name="keywords" content="dellee, admin">

    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-194x194.png" sizes="194x194">
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">

    <link rel="stylesheet" href="{{getAsset 'admin.css'}}">
  </head>
  <body>
    <div id="app-node"></div>
    <script>
      window.app = {
        config: {{{JSON.stringify config._admin}}}
      };
    </script>
    <script src="{{getAsset 'admin.vendor.js'}}"></script>
    <script src="{{getAsset 'admin.js'}}"></script>
  </body>
</html>
