html,
body
  height: 100%

  &.locked_scroll
    overflow: hidden

body
  font-family: $main_font_family

input
  width: 100%
  box-sizing: border-box

textarea
  width: 100%
  box-sizing: border-box
  resize: vertical

button, textarea, input
  &:focus
    outline: none

h1,
h2,
h3,
h4,
h5,
h6
  font-family: inherit

input[type="text"],
input[type="password"],
textarea,
select
  -webkit-appearance: none
