$bp_small = 480px
$bp_med = 768px
$bp_large =  1280px

$mobile = 'screen and (max-width: ' + $bp_small + ')'
$tablet = 'screen and (min-width: ' + $bp_med + ')'
$desktop = 'screen and (min-width: ' + $bp_large + ')'

$site_width = 768px

$main_font_family = 'Ubuntu', sans-serif
$main_link_color = #4078c0
