<div class="c-file_preview">
  <a target="_blank">
    <div class="c-fp-thumb" data-dz-thumbnail></div>
  </a>
  <div class="c-fp-remove" data-dz-remove>
    <i class="fa fa-times"></i>
  </div>
  <div class="c-fp-error">
    <div><span class="text-danger"><i class="fa fa-exclamation"></i> Ошибка</span></div>
    <small class="text-danger" data-dz-errormessage></small>
  </div>
  <div class="c-fp-progress">
    <div class="ui-spinner">
      <div class="ui-s-rect1"></div>
      <div class="ui-s-rect2"></div>
      <div class="ui-s-rect3"></div>
      <div class="ui-s-rect4"></div>
      <div class="ui-s-rect5"></div>
    </div>
  </div>
</div>
