html,
body
  height: 100%

html
  not-selectable()

body
  font-family: $main_font_family

a
  color: $main_link_color
  text-decoration: none

  &:hover
    text-decoration: underline

input
  width: 100%
  box-sizing: border-box

  &:-webkit-autofill
    -webkit-box-shadow: 0 0 0px 1000px white inset

textarea
  width: 100%
  box-sizing: border-box
  resize: vertical

button,
textarea,
input
  &:focus
    outline: none

input,
textarea
  -webkit-appearance: none

h1,
h2,
h3,
h4,
h5,
h6
  font-weight: 300
