.c-content
  .c-c-body
    padding-top: $header_height
    padding-bottom: 20px
    color: #333

    ul,
    ol
      font-size: 14px
      line-height: 20px

    p
      font-weight: 400
      font-size: 14px
      line-height: 20px
