.ui-btn
  display: inline-block
  box-sizing: border-box;

  padding: 8px 10px
  height: 36px

  font-size: 14px
  font-weight: 500
  text-align: center

  border: 1px solid
  border-radius: 3px
  background: none

  &.ui-btn_block
    width: 100%
    display: block

  &.ui-btn_primary
    color: #fff
    border-color: #e6af71

    background: #e8b47a
    background-image: linear-gradient(#ecbb84, #e8b47a, #e3ad71)

  &.ui-btn_default
    color: #666
    border-color: #e5e5e5

  &.ui-btn_action
    color: #666
    border-color: #e5e5e5
    background: #f5f5f5
    background-image: linear-gradient(#fff, #f5f5f5)

  &:hover
    text-decoration: none
