.ui-form_control
  padding: 0 10px
  height: 36px

  border: 1px solid #ccc
  border-radius: 3px

  font-size: 14px

  placeholder(color #acacac,)

  &:focus
    border-color: #4078c0

.ui-form_group
  margin-bottom: 15px

.ui-form_buttons
  margin-top: 20px

.ui-help_block
  font-size: 12px

  &.ui-help_block_error
    color: #d92929
