.ui-iconbox-success
  display: inline-block

  width: 55px
  height: @width

  font-size: 23px
  line-height: @height
  color: #fff
  text-align: center

  background: #4bd661
  border: 8px solid #7ae18a
  border-radius: 50%
