.ui-iconbox-success
  display: inline-block

  width: 55px
  height: @width

  font-size: 23px
  line-height: @height
  color: #fff
  text-align: center

  background: #4bd661
  border: 8px solid #7ae18a
  border-radius: 50%

.ui-iconbox-circle
  display: inline-block

  height: 30px
  width: @height

  text-align: center
  font-size: 17x
  line-height: @height
  color: #fff

  border-radius: 50%

  &.ui-iconbox-circle_vk
    background: #4e729a

  &.ui-iconbox-circle_twitter
    background: #55acee
