.ui-iconbox-success
  display: inline-block

  width: 72px
  height: @width

  font-size: 25px
  line-height: @height
  color: #fff
  text-align: center

  background: #4bd661
  border: 5px solid #7ae18a
  border-radius: 50%
