.ui-logo
  display: inline-block
  position: relative

  margin: 0
  padding: 0

  width: 196px
  height: @width

  text-indent: -9999px

  background: url('/images/logo.png') no-repeat center center
  background-size: cover

  // .ui-l-beta_label
  //   absolute: top -16% left -25%

  //   // Don't change this values
  //   width: 37.765102%
  //   height: 31.1224489%

  //   background: url('/images/beta_label.png') no-repeat center center
  //   background-size: 100% 100%
