@require 'nib'
@require 'normalize.css/normalize.css'
@require 'bootswatch/flatly/bootstrap.css'

@require 'helpers'
@require 'config'
@require 'fonts'

@require 'override/tags'
@require 'override/bootstrap'

@require 'layout/layout'

@require 'components/footer'
@require 'components/header'
@require 'components/layout'

@require 'pages/home'

