@require 'nib'
@require 'normalize.css/normalize.css'
@require 'bootswatch/flatly/bootstrap.css'

@require 'helpers'
@require 'config'
@require 'fonts'

@require 'bootstrap/page_header'

@require 'layout/tags'
@require 'layout/layout'

@require 'components/footer/footer'
@require 'components/header/header'
@require 'components/layout/layout'
@require 'components/model_form/model_form'

@require 'sections/home/home'

