@require 'nib'
@require 'normalize.css/normalize.css'
@require 'bootswatch/flatly/bootstrap.css'
@require 'bootstrap-datepicker/dist/css/bootstrap-datepicker3.css'

@require 'vendor/font_awesome.css'

@require 'helpers'
@require 'config'
@require 'fonts'

@require 'bootstrap/page_header'
@require 'bootstrap/form'

@require 'layout/tags'
@require 'layout/layout'

@require 'uikit/spinner'
@require 'uikit/logo'

@require 'components/footer/footer'
@require 'components/header/header'
@require 'components/layout/layout'
@require 'components/model_form/model_form'
@require 'components/modal/modal'
@require 'components/loading/loading'
@require 'components/file_uploader/file_uploader'

@require 'sections/home/home'
@require 'sections/apply_account/apply_account'

