.p-home
  .p-h-top
    padding: 40px 0 50px

    text-align: center
    border-bottom: 1px solid #e8e8e8

    .ui-logo
      width: 108px
      height: @width

    h2
      margin: 35px 0 0
      color: #4d4d4d
      font-size: 24px
      line-height: 35px

    h3
      margin: 16px 0 0
      color: #8c8c8c
      font-size: 16px
      line-height: 30px

    .p-h-t-divider
      margin: 30px auto
      height: 3px
      width: 100px
      background: #e8e8e8

    .p-h-t-arrow
      padding-top: 50px

      .ui-btn
        border: none
        height: auto
        color: #4078c0
        opacity: .7
        font-size: 15px

        animation: bounce 5s ease infinite
        transition: opacity 200ms ease

        span
          display: block
          margin-bottom: 3px

        &:hover
          opacity: 1


    @media $tablet
      padding: 60px 0 45px

      .ui-logo
        width: 125px
        height: @width

      h2
        margin: 45px 0 0
        font-size: 30px

      h3
        font-size: 18px

  .p-h-benefits
    padding: 40px 0
    border-bottom: 1px solid #e8e8e8

    @media $tablet
      padding: 50px 0

    h2
      margin: 0 0 40px
      text-align: center
      color: #333
      font-size: 27px

      @media $tablet
        margin: 0 0 50px
        font-size: 36px

    .p-h-b-link
      margin: 30px 0 30px
      text-align: center

      @media $tablet
        margin-top: 50px

  .p-h-benefits_list
    clearfix()

    list-style: none
    padding: 0
    margin: -50px 0 0

    li
      box-sizing: border-box

      margin: 50px 0 0

      text-align: center
      color: #5a5a5a
      font-size: 15px
      font-weight: 300

      figure
        margin: 0 auto

        width: 100px
        height: @width

        border: 1px solid #e5e5e5
        border-radius: 50%

        font-size: 40px
        text-align: center
        line-height: @height
        color: #4078c0

        // custom positioning of icons
        .icon-check_form
          margin-left: 8px

      h3
        margin: 18px 0 0
        color: #333
        font-size: 22px

      p
        margin: 18px 0
        line-height: 25px

      @media $tablet
        float: left
        padding: 0 32px
        width: 50%

  .p-h-early_access
    padding: 40px 0 30px
    border-bottom: 1px solid #e8e8e8

    @media $tablet
      padding: 50px 0 30px

    h2
      cursor: pointer

      margin: 0 0 20px
      text-align: center
      color: #333
      font-size: 27px

      @media $tablet
        margin: 0 0 20px
        font-size: 36px

    .p-h-ea-message,
    .p-h-ea-form
      margin: 0 auto
      max-width: 550px

    .p-h-ea-message
      margin-bottom: 40px
      text-align: center
      color: #b9b9b9
      font-weight: 300
      font-size: 15px
      line-height: 25px

    .p-h-ea-form
      margin-top: 15px

      .ui-form_group
        clearfix()
        position: relative
        overflow: hidden
        padding: 2px
        border: 1px solid #ccc
        border-radius: 3px

        &.focused
          border-color: #4078c0
          box-shadow: 0 0 3px lighten(#4078c0, 80%)

      .ui-input
        display: block
        border: none

        @media $tablet
          float: left
          width: 61%

      .ui-btn
        display: block
        width: 100%

        @media $tablet
          width: auto
          float: right

      .p-h-ea-success
        absolute: top -100% left -100%
        width: 100%
        height: 100%
        background: #fbfbfb
        border-radius: 3px
        text-align: center
        color: #333
        opacity: 0

        transition: opacity 200ms ease

        > span
          box-sizing: border-box
          padding: 2px 10px // prevent crop
          absolute: top 50% left
          transform: translateY(-40%)
          width: 100%

          transition: transform 200ms ease 100ms

        i
          margin-right: 10px

      &.success .p-h-ea-success
        top: 0
        left: 0
        opacity: 1

        > span
          transform: translateY(-50%)

    .p-h-share
      position: relative

      margin-top: 24px
      padding: 15px
      text-align: center

      color: #333
      font-size: 15px

      strong
        color: #d79b57
        font-weight: 400

      .p-h-s-links
        display: block
        margin: 15px 0 0
        text-align: center

        .ui-iconbox-circle
          margin: 0 8px
          cursor: pointer

      @media $tablet
        .p-h-s-links
          display: inline-block
          margin: 0
          margin-left: 10px

          .ui-iconbox-circle
            margin: 0 5px

  .p-h-register_company
    padding-top: 45px
    text-align: center
    background: linear-gradient(to bottom, #f5f8fa, #e9eff5)

    figure
      margin: 0 auto 45px
      width: 80px
      height: @width

      font-size: 48px
      line-height: @height
      color: #eab77e
      text-align: center

      border: 1px solid #dfe8ee
      border-radius: 50%
      background: #fff

    h2
      margin: 30px 0 0
      color: #4d4d4d
      font-size: 24px
      line-height: 35px

    h3
      margin: 16px auto 0
      color: #8c8c8c
      font-size: 16px
      max-width: 630px
      line-height: 30px

    .p-h-rc-link
      padding: 50px 0
      text-align: center

      .ui-btn
        padding-left: 30px
        padding-right: @padding-left

        color: #4078c0
        background: #f9fcff

        transition: background 200ms linear, color 200ms linear

        &:hover
          color: #fff
          border-color: #4078c0
          background: @border-color

    .p-h-rc-help_message
      padding-bottom: 80px

      color: #b9b9b9
      font-weight: 300
      font-size: 15px
      line-height: 25px

    .c-footer
      border-color: #dcdcdc

    @media $tablet
      h2
        margin: 30px 0 0
        font-size: 30px

      h3
        font-size: 18px
