.p-home
  .p-h-top
    padding: 40px 0 50px

    text-align: center
    border-bottom: 1px solid #e8e8e8

    .ui-logo
      width: 108px
      height: @width

    h2
      margin: 35px 0 0
      color: #4d4d4d
      font-size: 24px
      line-height: 35px

    h3
      margin: 16px 0 0
      color: #8c8c8c
      font-size: 16px

    .p-h-t-divider
      margin: 30px auto
      height: 3px
      width: 100px
      background: #e8e8e8

    .p-h-t-link
      .ui-btn
        width: 180px

    .p-h-t-arrow
      padding-top: 50px

      .ui-btn
        border: none
        color: #4078c0
        opacity: .7

        animation: bounce 5s ease infinite
        transition: opacity 200ms ease

        span
          display: block
          margin-bottom: 3px

        &:hover
          opacity: 1


    @media $tablet
      padding: 60px 0 45px

      .ui-logo
        width: 125px
        height: @width

      h2
        margin: 45px 0 0
        font-size: 30px

      h3
        font-size: 18px

  .p-h-benefits
    h2
      margin: 40px 0
      text-align: center
      color: #333
      font-size: 27px

      @media $tablet
        margin: 50px 0
        font-size: 36px

  .p-h-benefits_list
    clearfix()

    list-style: none
    padding: 0
    margin: -50px 0 0

    li
      box-sizing: border-box

      margin: 50px 0 0

      text-align: center
      color: #5a5a5a
      font-size: 15px
      font-weight: 300

      figure
        margin: 0 auto

        width: 100px
        height: @width

        border: 1px solid #e5e5e5
        border-radius: 50%

        font-size: 40px
        text-align: center
        line-height: @height
        color: #4078c0

        // custom positioning of icons
        .icon-check_form
          margin-left: 8px

      h3
        margin: 18px 0 0
        color: #333
        font-size: 22px

      p
        margin: 18px 0

      @media $tablet
        float: left
        padding: 0 32px
        width: 50%

  .p-h-signup
    margin: 38px auto 50px
    max-width: 400px

    h2
      margin: 0 0 40px
      text-align: center
      color: #333
      font-size: 27px

    .ui-panel
      position: relative
      overflow: hidden
      margin-top: 24px

      h3
        margin: 5px 0 20px

        text-align: center
        color: #4078c0
        font-size: 18px

    .p-h-success_signup
      absolute: top -100% left
      width: 100%
      height: 100%

      background: #fafafa
      opacity: 0

      transition: opacity 200ms ease

      .p-h-ss-body
        absolute: top 50% left
        width: 100%

        text-align: center
        color: #333
        font-size: 15px

        transform: translateY(-50%)

      .ui-iconbox-success
        opacity: 0
        transform: translateY(10px)
        transition: transform 200ms ease-out 100ms, opacity 200ms ease 100ms

      p
        opacity: 0
        transform: translateY(10px)
        transition: transform 200ms ease-out 200ms, opacity 200ms ease 200ms

    .p-h-s-form
      &.success
        .p-h-success_signup
          top: 0
          opacity: 1

        .ui-iconbox-success,
        p
          opacity: 1
          transform: translateY(0)

    @media $tablet
      margin-top: 50px
      margin-bottom: 60px

      h2
        font-size: 36px

      .ui-panel
        h3
          margin: 17px 0 32px
          font-size: 24px

    .p-h-share
      $background_color = #fafafa
      $border_color = #e7e7e7

      position: relative

      margin-top: 24px
      padding: 15px
      text-align: center

      color: #333
      font-size: 15px

      border: 1px solid $border_color
      border-radius: 3px

      background: $background_color
      box-shadow: 0 2px 5px rgba(0, 0, 0, .06)

      &:before
        absolute: bottom -16px left 50%
        margin-left: -4px
        content: ''

        border: 8px solid transparent
        border-top-color: $border_color

      &:after
        absolute: bottom -14px left 50%
        margin-left: -3px
        content: ''

        border: 7px solid transparent
        border-top-color: $background_color

      strong
        color: #d79b57
        font-weight: 400

      .p-h-s-links
        display: block
        margin: 15px 0 0
        text-align: center

        .ui-iconbox-circle
          margin: 0 8px
          cursor: pointer

      @media $tablet
        text-align: left

        .p-h-s-links
          display: inline-block
          margin: 0
          margin-left: 10px

          .ui-iconbox-circle
            margin: 0 5px

  .p-h-create_shop
    text-align: center
    border-top: 1px solid #dfe8ee
    background: linear-gradient(to bottom, #f5f8fa, #e9eff5)

    figure
      margin: 45px auto 0
      width: 80px
      height: @width

      font-size: 48px
      line-height: @height
      color: #eab77e
      text-align: center

      border: 1px solid #dfe8ee
      border-radius: 50%
      background: #fff

    h2
      margin: 30px 0 0
      color: #4d4d4d
      font-size: 24px
      line-height: 35px

    h3
      margin: 16px auto 0
      color: #8c8c8c
      font-size: 16px
      max-width: 630px
      line-height: 30px

    .p-h-cs-link
      padding: 50px 0
      text-align: center

      .ui-btn
        padding-left: 30px
        padding-right: @padding-left

        color: #4078c0
        background: #f9fcff

        transition: background 200ms linear, color 200ms linear

        &:hover
          color: #fff
          border-color: #4078c0
          background: @border-color

    .p-h-cs-help_message
      padding-bottom: 80px

      color: #b9b9b9
      font-weight: 300
      font-size: 15px
      line-height: 25px

    .c-footer
      border-color: #dcdcdc

    @media $tablet
      h2
        margin: 30px 0 0
        font-size: 30px

      h3
        font-size: 18px
