.c-header
  fixed: top left
  box-sizing: border-box
  height: $header_height
  width: 100%

  border-bottom: 1px solid #e8e8e8
  background: #fff

  .c-h-main
    text-align: center

  .c-h-brand
    display: inline-block
    padding: 8px 0

    .ui-logo
      width: 35px
      height: @width

  .c-h-menu_icon
    absolute: top right

    display: inline-block
    padding: 16px 10px

    cursor: pointer
    color: #666

  .c-h-navigation
    fixed: top $header_height left
    display: none

    padding: 10px 0
    width: 100%

    background: #fafafa
    border-top: 1px solid #fbfbfb

    nav
      a
        display: block
        padding: 10px

        font-size: 14px
        color: #666

        &:hover
          text-decoration: none

    &.show
      display: block

  .c-h-actions
    display: none

  @media $tablet
    .container
      position: relative

    .c-h-menu_icon
      display: none

    .c-h-main
      text-align: left
      float: left

    .c-h-navigation
      relative: top left
      display: block
      margin-left: 40px
      padding: 0

      background: none
      border: none

      nav
        a
          padding: 17px 15px
          display: inline-block

    .c-h-actions
      absolute: top right
      display: block
      padding: 7px 0

      .ui-btn
        padding-left: 20px
        padding-right: @padding-left
